{% extends "MelodiesCustomFieldsBundle::layout.html.twig" %}

{% trans_default_domain "MCustomFields" %}

{% block content %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ flash|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="page-header">
        <h1>{{ 'global.new_page'|trans() }} </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}