{% trans_default_domain "MCustomFields" %}

{% block customfield_widget %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}
    <div id="content-fields"></div>

    <div class="btn-group btn-group-sm" role="group" aria-label="actions">
        <a href="#" data-parent="0" class="add-field btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> {{ "action.add_fields"|trans() }}</a>
    </div>
    <script type="text/javascript">
        function managaField(action, element)
        {
            var parent, list;

            parent = $(element).attr('data-parent') == undefined ? 0 : $(element).attr('data-parent');
            list = [];

            $('#list-fields tr.line-field').each(function(){
                var field_id = $(this).attr('data-id');

                list.push({
                    id: field_id,
                    name: $(this).find('.field-name').val(),
                    type: $(this).find('.field-type').val(),
                    isNullable: $(this).find('.field-isNullable').val(),
                    content: $(this).find('.field-content').val(),
                    position: $(this).find('.field-position').val()
                });
            });

            $.ajax({
                type: "POST",
                url: '{{ path('melodies_custom_fields_ajax_field') }}',
                dataType: 'html',
                data: {
                    page: $('#current_page').attr('data-id'),
                    parent: parent,
                    action: action,
                    fields: JSON.stringify(list)
                },
                success : function(response) {
                    $('#content-fields').html(response);
                },
                error: function(data, status, object){
                    console.error(data);
                }
            });

            return false;
        }

        /*
         * Add field
         */
        $(document).on('click', '.add-field', function(){
            managaField('add', this);
        });


        /*
         * Delete field
         */
        $('body').on('click', '.delete-field', function(){
            var field_id, field;

            field = $(this);
            field_id = $(this).attr('data-id');

            $.ajax({
                type: "POST",
                url: '{{ path('melodies_custom_fields_ajax_field_delete') }}',
                dataType: 'json',
                data: {
                    field: field_id
                },
                success : function(response) {
                    console.log(response);
                    field.parent().parent().remove();
                },
                error: function(data, status, object){
                    console.error(data);
                }
            });

            return false;
        });

        /**
         * Save fields
         */
        $('body').on('click', '#form_save', function(){
            managaField('save');
        });

        /**
         * Add sub section
         */
        $(document).on('change', '.field-type', function(){
            var value, select = $(this);

            showField();

            if(select.val() != "repeater") return false;
        });

        function showField()
        {
            var list = [];

            $('#list-fields tr.line-field').each(function(){
                var field_id = $(this).attr('data-id');

                list.push({
                    id: field_id,
                    name: $(this).find('.field-name').val(),
                    type: $(this).find('.field-type').val(),
                    isNullable: $(this).find('.field-isNullable').val(),
                    content: $(this).find('.field-content').val(),
                    position: $(this).find('.field-position').val()
                });
            });

            $.ajax({
                type: "POST",
                url: '{{ path('melodies_custom_fields_ajax_field') }}',
                dataType: 'html',
                data: {
                    page: $('#current_page').attr('data-id'),
                    parent: 0,
                    action: "show",
                    fields: JSON.stringify(list)
                },
                success : function(response) {
                    $('#content-fields').html(response);
                },
                error: function(data, status, object){
                    console.error(data);
                }
            });
        }

        showField();

    </script>
{% endblock %}